<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>arduinoscope</title>
    <!-- this is a quick prototype of ideas. -->
    <!-- don't mind bloat, these can all be trimmed-down considerably, once required components are sorted out. -->
    <link href="http://jasny.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://jasny.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <link href="arduinoscope.css" rel="stylesheet">
</head>
  <body>
    <div id="topbar" class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand">arduinoscope</a>
        <select id="com" class="pull-right"></select>
      </div>
    </div>
    <div class="container">
        <div class="scopes"></div>
    </div>
  </body>

  <script id="scope" type="underscore">
    <div class="scope" id="scope<%=i%>">
      <span class="label">analog <%=i%></span>
      <canvas width="<%=width%>" height="300"></canvas>
      val:<span class="val"></span>
      min:<span class="min"></span>
      max:<span class="max"></span>
      <button class="clear" data-osc="<%=i%>">clear</button><br/>
      <label for="scaleX<%=i%>">scaleX:<input id="scaleX<%=i%>" data-osc="<%=i%>" class="scaleX" type="range" step="0.1" value="1" min="0.1", max="5"></label>
      <label for="scaleY<%=i%>">scaleY:<input id="scaleY<%=i%>" data-osc="<%=i%>" class="scaleY" type="range" step="0.1" value="1" min="0.1", max="5"></label>
    </div>
  </script>

  <script id="ports" type="underscore">
    <option value="">COM port</option>
    <% for (i in ports){ %>
      <option><%= ports[i] %></option>
    <% } %>
  </script>


  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
  <script src="requestAnimationFrame.js"></script>
  <script src="Oscilloscope.js"></script>
  <script src="FunctionGenerator.js"></script>
  <script src="arduinoscope.js"></script>
</html>
