<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>arduinoscope</title>
    <!-- this is a quick prototype of ideas. -->
    <!-- don't mind bloat, these can all be trimmed-down considerably, once required components are sorted out. -->
    <link href="http://jasny.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://jasny.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <link href="arduinoscope.css" rel="stylesheet">
</head>
  <body>
    <div id="topbar" class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand">arduinoscope</a>
        <select id="com" class="pull-right">
          <option value="">COM port</option>
        </select>
      </div>
    </div>
    <div class="container">
        <div class="scopes"></div>
    </div>
  </body>

  <script id="scope" type="underscore">
    <div class="scope" id="scope<%=i%>">
      <span class="label">analog <%=i%></span>
      <canvas width="<%=width%>" height="300"></canvas>
      val:<span class="val"></span>
      min:<span class="min"></span>
      max:<span class="max"></span>
      <button class="clear" data-osc="<%=i%>">clear</button><br/>
      <label for="scaleX<%=i%>">scaleX:<input id="scaleX<%=i%>" data-osc="<%=i%>" class="scaleX" type="range" step="0.1" value="1" min="0.1", max="5"></label>
      <label for="scaleY<%=i%>">scaleY:<input id="scaleY<%=i%>" data-osc="<%=i%>" class="scaleY" type="range" step="0.1" value="1" min="0.1", max="5"></label>
    </div>
  </script>


  <script id="ports" type="underscore">
    <% ports.forEach(function(port){ %>
      <option><%=port%></option>
    <% } %>
  </script>


  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
  <script src="requestAnimationFrame.js"></script>
  <script src="Oscilloscope.js"></script>
  <script>
    var arduino = require('./arduino.js');

    // cache all templates
    var templates = {};
    $('script[type=underscore]').each(function(){ templates[this.id] = _.template($(this).html()); });

    // setup COM port, handle com selection, and enter loop
    arduino.list(function(err, ports){
      if (err) throw(err);

      $('#com').html(templates['ports']({ports:ports}));

      $('#com').change(function(){
        $('.scopes').html();

        var com = $(this).val();
        if (com !== ''){
          // open COM port
          arduino.board(com, function(err, board){
            if (err) throw(err);

            console.log(com + ' opened');

            var scopes = [];
            board.analogPins.forEach(function(pin, i){
              var c = templates.scope({
                pin: pin,
                i: i,
                width: $('.container').width()-20
              });
              $('.scopes').append(c);
              var osc = new Oscilloscope(pin, $('#scope'+i+' canvas').get(0));
              osc.color = 'rgba(0,100,' + Math.floor((Math.random()*255)) + ', 0.8)';
              scopes.push(osc);
            });

            $('input.scaleX').change(function(){
              scopes[$(this).data('osc')].scaleX = $(this).val();
            });

            $('input.scaleY').change(function(){
              scopes[$(this).data('osc')].scaleY = $(this).val();
            });

            $('button.clear').click(function(){
              scopes[$(this).data('osc')].values=[];
            });

            var update = function(){
              board.analogPins.forEach(function(pin){
                scope.value = board.pins[pin].value;
              });
              scopes.forEach(function(scope, i){
                  scope.update();
                  $('.val', $('#scope' +i)).html(scope.value * volts);
                  $('.min', $('#scope' +i)).html(scope.min * volts);
                  $('.max', $('#scope' +i)).html(scope.max * volts);
              });
              window.requestAnimationFrame(update);
            };
            update();

          });
        }
      });
    });
  </script>
</html>
